*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,118,121,1) 49%, rgba(0,212,255,1) 100%);}

.contenedor{
    padding: 15px;
    position: relative;
    width: 100vw;
    height: 90vh;
}

button{
    width: 40px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

#bntSi{
    background: #1ebaa5;
}
#bntNo{
    background: #661aa9;
}